@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --primary-color: #3A3A3A;

}



/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    height: 100vh;
}

.btn{
    outline: 0;
    border: 0;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin:16px 0;
    cursor: pointer;
}
.btn span{
    padding-right: 8px;
}
/*----------------------------------------- nav meanu start------------------------------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 17px;
}
.navigation li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}
.fa-search{
    height: 24px;
    width: 24px;
}
.fa-shopping-cart{
    height: 36px;
    width: 36px;
}
/*---------------------------------------- banner start---------------------------------------*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 100px;
}
.banner:hover img{
    animation: shake 0.6s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0%{transform: translate(0px,-1px) rotate(0deg);}
    10%{transform: translate(2px,-1px) rotate(-1deg);}
    20%{transform: translate(-3px,1px) rotate(1deg);}
    30%{transform: translate(-2px,3px) rotate(0deg);}
    40%{transform: translate(0px,1px) rotate(1deg);}
    50%{transform: translate(3px,-1px) rotate(-1deg);}
    60%{transform: translate(-1px,1px) rotate(1deg);}
    70%{transform: translate(0px,-1px) rotate(0deg);}
    80%{transform: translate(2px,-1px) rotate(1deg);}
    90%{transform: translate(0px,-1px) rotate(-1deg);}
   100%{transform: translate(4px,-1px) rotate(0deg);}
}
.banner-right{
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
}
.banner-right img{
    margin-top: 25px;
}
.banner-left {
    margin-right: 130px;
}
.banner-left h1{
    color: var(--primary-color);
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
}
.banner-left p{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
/*---------------------------------------- brands bar start-----------------------------------*/
.brands{
    display: flex;
    height: 110px;
    width: 1110px;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

/*------------------------------------- Popular Collection start----------------------------*/
#popular-collection{
    position: relative;
    padding: 100px 0;
    width: 1047px;
    /* height: 1662px; */
    margin: 0 auto;
}
.popular-collection{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.section-title{
    display: flex;
    justify-content: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
}
.card{
    padding: 15px;
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}
.card img{
    height: 256px;
    width: 300px;
}
.card h3{
    font-size: 28px;
    font-weight: 600;
    color: #18191F;
}
.card h4{
font-size: 24px;
font-weight: 400;
}
.card .rating{
    color:#FB8200;
}
.card .rating span{
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    padding-left: 8px;
}
.card p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.sec-btn{
    position: absolute;
    outline: 0;
    border: 0;
    right: 0;
    background-color: transparent;
    width: 100px;
    height: 25px;
    color:#E02C6DDE;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.sec-btn span{
    padding-left: 8px;
}
/*----------------------------------- contact part------------------------------- */
.contact{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}
.contact-left img{
    width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
}
/*----------------------------------------- footer section --------------------------------------*/
.footer{
    display: flex;
    height: 200px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0A0826;
    color: white;
}
.social-btn{
    display: flex;
    justify-content: center;
}
.social-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 8px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

/*----------------------------- responsive css -----------------------------*/
/* mobile device */
@media (max-width:576px) {
    *{
        overflow-x: hidden;
    }
    header{
        height: auto;
    }
    nav{
        justify-content: center;
    }
    .logo h1{
        font-weight: 700;
        font-size: 16px;
    }
    .navigation{
        display: none;
    }
    .banner{
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .banner-left{
        order: 2;
        text-align: center;
        margin: 0 auto;
    }
    .banner-left h1{
        font-size: 28px;
        font-weight: 700;
        padding: 0 20px;
    }
    .banner-left p{
        font-size: 14px;
        font-weight: 500;
        padding: 0 50px;
    }
    .banner-right{
        height: 257px;
        width: 257px;
        margin: 0 auto;
    }
    .banner-right img{
        width: 100%;
        margin: 0; 
    }
    .brand{
        display: flex;
        justify-content: center;
    }
    .brands{
        margin: 0 50px ;
        width: fit-content;
    }
    .brand img{
        width: 50%;
    }
    #popular-collection{
        padding-top: 0;
        width: fit-content;
        margin: 0 auto;
    }
    .section-title{
        justify-content: center;
    }
    .section-title h2{
        font-size: 16px;
        font-weight:600;
    }
    .popular-collection{
        grid-template-columns: 1fr;
    }
    .sec-btn{
        margin-right: 20px;
    }
    .contact{
        grid-template-columns: 1fr;
        width: fit-content;
    }
    form{
        width: 80%;
        margin: 0 auto;
    }
    .footer h2{
        font-size: 16px;
        font-weight: 700;
    }
    .footer p{
        font-size: 12px;
        font-weight: 500;
    }
    .social-btn a{
        height: 24px;
        width: 24px;
        width: fit-content;
        overflow-y: hidden;
        border-radius: 10px;
    }
}
/* tablet device */
@media (min-width:577px) and (max-width:768px){
    *{
        overflow-x: hidden;
    }
    header{
        height: auto;
    }
    nav{
        justify-content: center;
    }
    .logo h1{
        font-weight: 700;
        font-size: 24px;
    }
    .navigation{
        /* display: none; */
        padding-left: 20px;
    }
    .banner{
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .banner-left{
        order: 2;
        text-align: center;
        margin: 0 auto;
    }
    .banner-left h1{
        font-size: 30px;
        font-weight: 700;
        padding: 0 20px;
    }
    .banner-left p{
        font-size: 20px;
        font-weight: 500;
        padding: 0 50px;
    }
    .banner-right{
        height: 257px;
        width: 257px;
        margin: 0 auto;
    }
    .banner-right img{
        width: 100%;
        margin: 0; 
    }
    .brand{
        display: flex;
        justify-content: center;
    }
    .brands{
        margin: 0 50px ;
        width: fit-content;
    }
    .brand img{
        width: 50%;
    }
    #popular-collection{
        padding-top: 0;
        width: fit-content;
        margin: 0 auto;
    }
    .section-title{
        justify-content: center;
    }
    .section-title h2{
        font-size: 24px;
        font-weight:600;
    }
    .card{
        height: 476px;
        width: 300px;
    }
    .popular-collection{
        grid-template-columns: repeat(2,1fr);
    }
    .sec-btn{
        margin-right: 20px;
    }
    .contact{
        grid-template-columns: 1fr;
        width: fit-content;
    }
    form{
        width: 80%;
        margin: 0 auto;
    }
    .footer h2{
        font-size: 24px;
        font-weight: 700;
    }
    .footer p{
        font-size: 16px;
        font-weight: 500;
    }
    .social-btn a{
        height: 24px;
        width: 24px;
        width: fit-content;
        overflow-y: hidden;
        border-radius: 10px;
    }
}