@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding:0 30px;
}
header{
    height: 100vh;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}